<div
  class="overflow-hidden rounded-2xl border border-gray-200 bg-white px-5 pt-5 dark:border-gray-800 dark:bg-white/[0.03] sm:px-6 sm:pt-6"
>
  <div class="flex items-center justify-between">
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        World Map - Feedback Distribution
      </h3>
      <p class="text-sm text-gray-600 dark:text-gray-400 mt-1">
        Phân bố số lượng feedback.
      </p>
    </div>
  </div>

  <div class="mb-5">
    <div class="mx-auto flex justify-center">
      <div class="h-[400px] w-full">
        <div id="worldMapChart"></div>
      </div>
    </div>
  </div>
</div>